<!DOCTYPE html>

<html>
    <head>
        <title>
            Flask Social Media Scraping Web App
        </title>
    </head>
    <body>
        <h1>
            Welcome to the SCRAPING CLUB!
        </h1>
        <p>
            How to use:<br>
            <h2>Instagram</h2>
            <ul>
                <li>
                    scrape instagram profile by entering this address <br>
                    {web-domain}/instagram/profile/{ig_username}
                </li>
                <li>
                    scrape instagram profile post by entering this address <br>
                    {web-domain}/instagram/post/{ig_username}
                </li>
                <li>
                    scrape instagram hashtag post by entering this address <br>
                    {web-domain}/instagram/post/hashtag/{hashtag_name}
                </li>
            </ul>
            <h2>Facebook</h2>
            <ul>
                <li>
                    scrape facebook profile by entering this address <br>
                    {web-domain}/facebook/profile/{fb_username}
                </li>
                <li>
                    scrape facebook page post (public page) by entering this address <br>
                    {web-domain}/facebook/page/{page_name}
                </li>
                <li>
                    scrape facebook group post (public group) by entering this address <br>
                    {web-domain}/facebook/group/{group_name}
                </li>
            </ul>
        </p>
    </body>
</html>